html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #map_canvas {
       height: 550px;
      width: 800px
  }

  @media print {
    html, body {
      height: auto;
    }

    #map_canvas {
      height: 650px;
    }
  }
  #connect_container {
    background-image:url('/img/ig.png');
    width: 200px;
    height: 30px;
    margin-top: 5%;

  }
  #connect_container:hover {
    background-image:url('/img/ig2.png');
    width: 200px;
    height: 30px;
  }
  .wootspan {
   display: block;
   width: 100%;
   height: 100%;
  }
